body {
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 

.header {
	padding: 60px;
	background-image: url("https://www.peme.co.uk/wp-content/uploads/2019/03/MUSK-logo.png");
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 20px;
  }
  
  /* Navigation Bars */
  .topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  }
  .subnav {
  overflow: hidden;
  background-color: #e9e9e9;
  display: flex;
  justify-content: space-around;
  }
  .topnav a {
  float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  .subnav a {
  float: left;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  .topnav a:hover {
  background-color: #0c6a9d;
  color: white;
  }
  .subnav a:hover{
  background-color: #0c6a9d;
  color: white;	
  }
  .topnav a.active {
  background-color: #1697dc;
  color: white;
  }
  .subnav a.active{
  background-color: #1697dc;
  color: white;
  }
  .topnav .search-container {
  float: right;
  }
  .topnav input[type=text] {
  padding: 6px 6px 6px 6px;
  margin-top: 8px;
  margin-left: 8px;
  font-size: 17px;
  border: none;
  }
  .topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #1697dc;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  }
  .topnav .search-container button:hover {
  background: #0c6a9d;
  }
  @media screen and (max-width: 600px) {
  .topnav .search-container {
  float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
  float: none;
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 14px;
  }
  .topnav input[type=text] {
  border: 1px solid #ccc;  
  }
  }
  
  /* Table */
  table.inspTable {
	border: 0px solid #1C6EA4;
	background-color: #FFFFFF;
	width: 100%;
	text-align: left;
	text-decoration: none;
  }
  table.inspTable td, table.inspTable th {
	border: 1px solid #AAAAAA;
	padding: 2px 2px;
	text-decoration: none;
  }
  table.inspTable tbody td {
	font-size: 12px;
	text-align: center;
	text-decoration: none;
  }
  table.inspTable thead {
	background: #1697dc;
  }
  table.inspTable thead th {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
  }
  table.inspTable thead th:first-child {
	border-left: none;
  }
  /* Table Footer */
  table.inspTable tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	border-top: 2px solid #444444;
  }
  table.inspTable tfoot td {
	font-size: 14px;
  }
  table.inspTable tfoot .links {
	text-decoration: none;
	text-align: right;
  }
  table.inspTable tfoot .links a{
	display: inline-block;
	background: #1C6EA4;
	text-decoration: none;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 2px;
  }